/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* Banner */
  .banner-area.shape-line .right-info {
    display: none;
  }

  .banner-area.shape-line .double-items {
    margin-top: -60px;
  }

  .banner-area.transparent-nav .content {
    padding-top: 60px;
  }

  .banner-area.content-double.with-carousel .double-items {
    display: block;
  }

  .banner-area.content-double.with-carousel .double-items .right-info {
    display: none;
  }

  .banner-area.small-text .content h1 {
    font-size: 40px;
  }

  .banner-area .wavesshape.shape {
    bottom: -10px;
  }

  /* About Area */
  .about-area .services-info {
    margin-top: 0;
  }

  .about-area .services-info .equal-height:nth-child(1) .item, 
  .about-area .services-info .equal-height:nth-child(4) .item {
    background: #ffffff none repeat scroll 0 0;
  }

  .about-area .services-info .equal-height:nth-child(1) .item h4, 
  .about-area .services-info .equal-height:nth-child(4) .item h4, 
  .about-area .services-info .equal-height:nth-child(1) .item p, 
  .about-area .services-info .equal-height:nth-child(4) .item p {
    color: #232323;
  }

  .about-area .services-info .equal-height:nth-child(1) .item i, 
  .about-area .services-info .equal-height:nth-child(4) .item i {
    color: #F4B070;
  }

  /* Companies Area */
  .companies-area .clients {
    margin-top: 30px;
  }

  .companies-area .row {
    align-items: inherit;
    align-self: inherit;
    display: block;
    justify-content: inherit;
  }


  /* Features */
  .features-area.cell-items .features-thumb, 
  .features-area.cell-items .features-items {
    display: block;
  }

  .features-area.cell-items .features-thumb {
    padding-right: 15px;
  }

  .features-area.cell-items .features-items .equal-height:first-child, 
  .features-area.cell-items .features-items .equal-height:nth-child(2) {
    margin-top: 50px;
  }

  .features-area.default-padding-bottom {
    padding-top: 30px;
  }

  .features-area.features-list .features-thumb {
    margin-bottom: 30px;
    padding: 0 15px !important;
  }

  .features-area.features-list .features-thumb img {
    width: 100%;
  }

  .features-area.features-list .features-item.reverse .features-thumb {
    float: none;
  }

  .features-area.features-list .features-item {
    margin-top: 30px;
  }

  /* Overview */
  .overview-area .overview-items .item .thumb, 
  .overview-area .overview-items .item .info {
    display: block;
  }

  /* Blog */
  .blog-area.single .blog-items .item .contact-comments .col-md-6 {
    float: none;
  }

  /* Testimonials */
  .testimonials-area .carousel-indicators {
    bottom: 0;
    left: auto;
    margin: 40px 0 20px;
    position: relative;
    width: 100%;
  }

  /* Contact */
  .contact-us-area .address {
    margin-bottom: 30px;
    padding-right: 15px;
  }

  /* Faq Area */
  .faq-area .thumb {
    display: block;
    margin-bottom: 30px;
    padding-right: 15px;
    overflow: hidden;
  }

  .faq-area .faq-items {
    display: block;
    float: none;
    vertical-align: middle;
    z-index: 9;
  }

  .faq-area .thumb img {
    margin-bottom: 0;
    width: 100%;
  }

  /* Footer */
  footer .f-item .it {
  }

  footer .f-items .item {
    margin-top: 50px;
  }

  footer .f-items .item:first-child {
    margin-top: 0;
  }

  footer .footer-bottom {
    margin-top: 40px;
    padding-top: 40px;
  }

  footer .footer-bottom,
  footer .footer-bottom .text-right {
    text-align: center;
  }

  footer .footer-bottom p {
    line-height: 26px;
  }

  .footer-bottom .col-md-6 {
    padding: 0;
  }

  footer .f-items .item:first-child,
  footer .f-items .item:nth-child(2) {
    margin-top: 0;
  }
}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  /* Heading */
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4;
  }

  h5 {
    font-size: 16px;
    line-height: 1.4;
  }

  h6 {
    font-size: 14px;
    line-height: 1.4;
  }

  .default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .padding-xl {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .default-padding.bottom-less {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .default-padding-bottom {
    padding-bottom: 50px;
  }

  .default-padding-top {
    padding-top: 50px;
  }

  .default-padding.bottom-30 {
    padding-bottom: 0;
    padding-top: 50px;
  }

  .default-padding.bottom-20 {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .padding-less-mobile {
    padding-top: 0;
  }

  .site-heading {
    margin-bottom: 30px;
  }

  .site-heading.single {
    margin-bottom: 20px;
  }

  .attr-nav {
    display: none;
  }

  .breadcrumb-area h1 {
    font-size: 36px;
  }


  /* Banner Area */
  body, .banner-area, .banner-area div {
    height: auto;
  }

  .banner-area.content-double .double-items {
    display: block;
  }

  .banner-area .double-items .left-info {
    float: left;
    margin-bottom: 50px;
    width: 100%;
  }

  .banner-area.shape-line .double-items {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  .banner-area.auto-height .double-items {
    overflow: hidden;
    padding-top: 110px;
  }

  .banner-area.auto-height.sticky-nav .double-items {
    padding-top: 50px;
  }

  .banner-area.content-double.with-carousel .double-items {
    display: block;
  }

  .banner-area.content-double.with-carousel .double-items .right-info {
    display: none;
  }

  .banner-area.with-carousel.shape-angle .double-items {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 110px;
  }

  .banner-area.small-text .content h1 {
    font-size: 36px;
  }

  .banner-area.banner-top-padding .double-items {
    margin-top: 0;
    padding-bottom: 80px;
    padding-top: 50px;
  }

  .banner-area.solid-bg .double-items {
    padding: 50px 0;
  }

  .banner-area .wavesshape.shape {
    bottom: 0;
  }

  .banner-area.transparent-nav .content {
    padding-top: 110px;
  }

  .title-h1 {
    font-size: 20px !important;
    text-transform: capitalize !important;
    margin-bottom: 20px !important; 
}

  .btn.circle { 
    margin-bottom: 10px !important;
  }
  
  .video-play-button {
    margin: 0;
  }

  /* Fun Facts*/

  .facts-countdown-content.featured {
    text-align: center !important;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .facts-countdown-content:not(.featured) {
    padding: 20px 0px !important;
    
  }
  /* About Area */
  .about-area .services-info {
    margin-top: 0;
  }

  .about-area .services-info .equal-height:nth-child(1) .item, 
  .about-area .services-info .equal-height:nth-child(4) .item {
    background: #ffffff none repeat scroll 0 0;
  }

  .about-area .services-info .equal-height:nth-child(1) .item h4, 
  .about-area .services-info .equal-height:nth-child(4) .item h4, 
  .about-area .services-info .equal-height:nth-child(1) .item p, 
  .about-area .services-info .equal-height:nth-child(4) .item p {
    color: #232323;
  }

  .about-area .services-info .equal-height:nth-child(1) .item i, 
  .about-area .services-info .equal-height:nth-child(4) .item i {
    color: #F4B070;
  }

  /* Companies Area */
  .companies-area .clients {
    margin-top: 30px;
  }
  .companies-area .row {
    align-items: inherit;
    align-self: inherit;
    display: block;
    justify-content: inherit;
  }

  /* Features */
  .features-area.cell-items .features-thumb, 
  .features-area.cell-items .features-items {
    display: block;
    text-align: center;
  }
  .features-area .features-items {
    text-align: center;
  }

  .features-area.features-list .features-item .features-items {
    text-align: left;
  }

  .features-area.features-list .features-items ul {
    padding-right: 0;
  }

  .features-area.cell-items .features-thumb {
    padding-right: 15px;
  }

  .features-area.cell-items .features-items .equal-height:first-child, 
  .features-area.cell-items .features-items .equal-height:nth-child(2) {
    margin-top: 50px;
  }

  .features-area .equal-height:last-child {
    margin-bottom: 0;
  }

  .features-area.bottom-small {
    padding-bottom: 50px;
  }

  .features-area.default-padding-bottom {
    padding-top: 30px;
  }

  .features-area.features-list .features-thumb {
    margin-bottom: 30px;
    padding: 0 15px !important;
  }

  .features-area.features-list .features-thumb img {
    width: 100%;
  }

  .features-area.features-list .features-item.reverse .features-thumb {
    float: none;
  }

  .features-area.features-list .features-item {
    margin-top: 30px;
  }

  .features-area .item .icon {
    display: block;
  }

  .features-area .item .info {
    display: block;
    margin-top: 25px;
    padding-left: 0;
  }



  /* Overview */
  .overview-area .overview-items .item .thumb, 
  .overview-area .overview-items .item .info {
    display: block;
  }
  
  .overview-area.carousel-shadow .owl-dots {
    margin-bottom: -10px;
  }

  /* Blog */
  .blog-area.single .blog-items .item .contact-comments .col-md-6 {
    float: none;
    padding: 0 15px;
    width: 100%;
  }

  /* Testimonials */
  .testimonials-area.default-padding {
    padding-bottom: 45px;
  }

  .testimonials-area .carousel-indicators {
    bottom: 0;
    left: auto;
    margin: 30px 0 20px;
    position: relative;
    width: 100%;
  }

  /* Subscrie */
  .subscribe-area form .input-group {
    margin: 30px auto auto;
    width: 100%;
  }

  /* Contact */
  .contact-us-area .address {
    margin-bottom: 30px;
    padding-right: 15px;
  }

  /* Faq Area */
  .faq-area .thumb {
    display: block;
    margin-bottom: 30px;
    padding-right: 15px;
    overflow: hidden;
  }

  .faq-area .faq-items {
    display: block;
    float: none;
    vertical-align: middle;
    z-index: 9;
  }

  .faq-area .thumb img {
    margin-bottom: 0;
    width: 100%;
  }

  /* Error */
  .error-page-area h1 {
    font-size: 100px;
    line-height: 80px;
  }

  /* Login */
  .login-area .login-box {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  /* Footer */

  footer .f-item .it {
  }

  footer .f-items .item {
    margin-top: 50px;
  }

  footer .f-items .item:first-child {
    margin-top: 0;
  }

  footer .footer-bottom {
    margin-top: 30px;
    padding-top: 30px;
  }

  footer .footer-bottom,
  footer .footer-bottom .text-right {
    text-align: center;
  }

  footer .footer-bottom p {
    line-height: 26px;
  }

  .footer-bottom .col-md-6 {
    padding: 0;
  }
}
