/*/////////////////
////Page styles////
/////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-delay: 1s,
}


/*/////////////////
////Page Font styles////
/////////////////*/

html {
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

p,
li {
    font-family: "Roboto", sans-serif;
}

.sec-heading {
    font-size: 3rem;
    color: #353535;
    line-height: 1;
    /* margin: 20px 0; */
}

.pre-head {
    font-size: 1.2rem;
    color: #3d3d3d;
    line-height: 1.5;
    font-family: lato;
}

.sub-head {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: .95rem;
    color: #636363;
    line-height: 1.5;
    width: 90%;
    word-spacing: 1.5px;
}


/*/////////////////////////////
//////Header & Nav Styles/////////
/////////////////////////////*/

header {
    border-bottom: 1px solid #fafafa;
    padding: 10px 50px;
}

.logo {
    height: 50px;
    display: inline-block;
}

nav {
    padding: 5px;
    /* display: inline-block; */
    float: right;
    position: relative;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    /* float: left; */
}

nav ul li:not(:first-child) {
    margin-left: 25px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #bfbfbf;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    /* color: #808080; */
    color: #1f2227;
    text-decoration: none;
}

nav ul li a.active {
    /* color: #808080; */
    color: #1f2227;
    text-decoration: none;
}

@media screen and (max-width: 820px) {
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #1f2227;
        opacity: 0;
        transition: all 0.2s ease;
    }
    .nav-container ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .nav-container ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    .nav-container ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-container ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    .nav-container ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    .nav-container ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-container ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }
    .nav-open {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #1f2227;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked+.nav-open {
    transform: rotate(45deg);
}

#nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}


/* Nav End*/

.login {
    background: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
    /* box-shadow: 0px 4px 19px 0px rgba(189, 137, 137, 0.09); */
    box-sizing: border-box;
    padding: 10px 20px;
}

.login a {
    color: #fff;
}


/*/////////////////////////////
////////nhf Page Styles//////////
/////////////////////////////*/

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    overflow: hidden;
    align-items: center;
    /* grid-gap: 10px; */
}

.nhf-content {
    grid-area: auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    height: 100%;
    /* justify-items: center; */
    align-items: center;
    /* grid-column-gap: 10px; */
    /* text-align: center; */
}

.mortgage-img-left {
    background-image: url("../images/icons/nhf/home-loan.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    margin-bottom: 30px;
}

.mortgage-img-right {
    background-image: url("../images/icons/nhf/nhf-loan.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    margin-bottom: 30px;
}

.nhf-left {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: grid;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 2s;
    color: #1f2227;
    background-color: #3d3d3d;
    /* overflow-y: scroll; */
    /* background-image: url('../images/nhf-bg-img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.nhf-right {
    /* text-align: center; */
    cursor: pointer;
    height: auto;
    width: 100%;
    /* display: grid; */
    animation-name: fadeIn;
    animation-delay: 1.5s;
}

.nhf-sub-content {
    /* width: 70%; */
    margin: auto;
    padding: 0 15%;
}

.nhf-left a,
.nhf-right a {
    text-decoration: none;
    color: #1f2227;
}

.nhf-left:hover a,
.nhf-right:hover a {
    text-decoration: none;
    color: #fff;
}


/* .nhf-left:hover,
.nhf-right:hover {
    background-image: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
} */


/* .nhf-left:hover .mortgage-img-left {
    background-image: url("../images/icons/nhf/home-loan-alt.png");
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    animation-duration: 1s;
}

.nhf-right:hover .mortgage-img-right {
    background-image: url("../images/icons/nhf/nhf-loan-alt.png");
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    animation-duration: 1s;
} */


/*/////////////////////////////////////
////////Step Styles////////////////////
/////////////////////////////////////*/

.check-steps {
    margin: 18px 0;
    padding: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    color: #3d3d3d;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.check-steps:hover {
    box-shadow: 0px 8px 10px 0px rgba(56, 56, 56, 0.05);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.check-steps.complete {
    background: #4caf50;
    color: #fff;
    box-shadow: 0px 8px 10px 0px rgba(56, 56, 56, 0.05);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

input[type=checkbox].steps {
    display: none;
}


/*/////////////////////////////////////
////////Customizing Checkboxs//////////
/////////////////////////////////////*/


/* to hide the checkbox itself */

input[type=checkbox].steps+label:before {
    font-family: 'Font Awesome\ 5 Free';
    display: inline-block;
}

input[type=checkbox].steps+label:before {
    content: "\f111";
}


/* unchecked icon */

input[type=checkbox].steps+label:before {
    letter-spacing: 20px;
}


/* space between checkbox and label */

input[type=checkbox].steps:checked+label:before {
    content: "\f058";
}


/* checked icon */

input[type=checkbox].steps:checked+label:before {
    letter-spacing: 20px;
}


/* allow space for check mark */


/*/////////////////////////////////////
////////Footer Styles//////////
/////////////////////////////////////*/

.nhf-sub-content.foot {
    margin-top: 60px;
    padding: 2%;
    text-align: center;
}

.nhf-sub-content.foot span {
    font-family: "Lato", sans-serif;
    font-size: .8rem;
    color: #3d3d3d;
    display: inline-block;
    margin: 10px 15px;
    font-weight: bold;
}

.nhf-sub-content.foot span a {
    text-decoration: none;
}